<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ship.web.futsal.FutMapper">
	<select id="createFutTab" parameterType="hashmap">
    	${CREATE_FUTTAB}
    </select>
	<select id="createPostTab" parameterType="hashmap">
    	${CREATE_POSTTAB}
    </select>
    
</mapper>