<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ship.web.adm.AdminMapper">
	
    <insert id="registerByIdPw" parameterType="Admin">
       INSERT INTO ADMIN(EID,PWD)
		VALUES (#{eid},#{pwd})
    </insert>
	<select id="selectAdmin" resultType="Admin" parameterType="Admin" >
	       SELECT * 
	       FROM ADMIN 
	       <trim prefix="WHERE" prefixOverrides="AND |OR ">
	       WHERE EID LIKE #{eid} 
	       <if test="pwd !=null">
	       	       AND PWD LIKE #{pwd}
	       </if>
	       <if test="ename !=null">
	       	       AND ENAME LIKE #{ename}
	       </if>
	       </trim>
	</select>
	
	<select id="createAdminTable" parameterType="map">
		${CREATE_ADMIN}
	</select>
	<select id="createRevenueTable" parameterType="map">
		${CREATE_REVENUE}
	</select>
	<select id="createGame" parameterType="hashmap">
		${CREATE_GAME}
	</select>
	
</mapper>